[2017-07-13 09:27] culmat opened #1 "Unmodifiable contract"
After beeing signed a contract should not be modified.
Currently this is possible. The signatures go away and come back if I change back to a signed text, but there is no warning, so handling is error prone.

[2017-07-13 09:29] culmat commented on #1
I see no way to get hold of a unique macro instance ID. So the ID is calculated as hash over title and body.
See https://jira.atlassian.com/browse/CONFSERVER-52819

This has also negative impact on storage, as macros are stored in every version, even when not signed and never deleted.

[2017-07-13 15:45] culmat opened #2 "i18n"
Have nice labels in the Macro Editor and translate

[2017-07-13 15:45] culmat opened #3 "Documentation"
on the Wiki?
Linked in the macro browser,
with screen shots

[2017-07-17 13:51] Jean-MichelBenkert opened #4 "Text Formatting"
It is currently not possible to format the text in the signature box nicely, i.e., bold font, paragraphs, enumeration. This would be valuable, as it would allow for a more readable presentation of longer texts.

[2017-07-17 13:54] Jean-MichelBenkert opened #5 "Not yet signed names not being displayed"
After having signed, the names of the people who have not yet signed are no longer being displayed and it is not possible to send them an email.

[2017-08-07 12:49] culmat opened #6 "Handle invalid / empty email"
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><status><status-code>500</status-code><message>'To' is a required field</message><stack-trace>java.lang.IllegalArgumentException: 'To' is a required field
	at com.atlassian.mail.Email.&lt;init&gt;(Email.java:51)
	at com.baloise.confluence.digitalsignature.rest.DigitalSigatureService.notify(DigitalSigatureService.java:120)
	at com.baloise.confl

[2017-08-07 13:31] #5 closed

[2017-08-07 14:51] culmat commented on #4
We won't provide full confluence rich text, because this would allow to render dynamic content that changes after the signature (i.e. external images) or to write white text on white background that would be part of the contract.
We could provide something like http://commonmark.org/help/
But that means no images, no tables, no macros, no colors, just very basic stuff and no WYSIWYG editor support

[2017-08-07 15:43] Jean-MichelBenkert commented on #4
sounds great, should cover all we need! thx!

Jean-Michel Benkert
Group Strategy & Digital Transformation

Baloise Group, Aeschengraben 21, Postfach, CH - 4002 Basel
Telefon +41 58 285 75 04
jean-michel.benkert@baloise.com - www.baloise.com

Von:	Matthias Cullmann <notifications@github.com>
An:	baloise/digital-signature
            <digital-signature@noreply.github.com>,
Kopie:	Jean-MichelBenkert

[2017-08-09 07:08] culmat opened #7 "No default SMTP Server results in NullPointerException"
java.lang.NullPointerException
	at com.baloise.confluence.digitalsignature.rest.DigitalSigatureService.notify(DigitalSigatureService.java:121)
	at com.baloise.confluence.digitalsignature.rest.DigitalSigatureService.sign(DigitalSigatureService.java:92)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	a

[2017-08-09 07:48] #4 closed

[2017-08-09 07:48] #7 closed

[2017-08-09 07:52] #6 closed

[2017-08-11 10:46] rotalf opened #8 "Notify users who have to sign"
It is possible to implement the @Mention function in the macrobody, so that the users who have to sign be notified.
Or users are notified automatically.

[2017-08-11 12:02] culmat commented on #8
Not sure when to send the email and if it is not considered to be spam.
We could send the email to every receipient only once per contract. Still every change in the signers, i.e. changing the inheritSigners in edit mode and refreshing the preview would send our the emails.

You can easily send an email to all missing signatures using the email drop down
![image](https://user-images.githubusercont

[2017-08-11 12:13] rotalf commented on #8
Yes this is a sufficient solution
Thank you

[2017-08-11 15:33] culmat commented on #8
you are welcome :-)

[2017-08-11 15:33] #8 closed

[2017-08-14 08:20] Jean-MichelBenkert opened #9 "email list does not work properly"
when I use the email functionality not all the names are included in the email. it seems there is a limit, as the last name which was included was not complete.

[2017-08-14 08:21] Jean-MichelBenkert opened #10 "notification does not work properly"
When someone signed the form, I receive an email as intended. However, the email always says that I signed it even if it wasn't me:

![image](https://user-images.githubusercontent.com/30235569/29263720-503a2692-80da-11e7-9b66-81e0f63deb2c.png)

[2017-08-14 11:57] culmat opened #11 "sort not yet signed users alphabetically"

[2017-08-14 14:54] culmat commented on #9
The limit is browser / mail client specific. On Lotus Notes 8.5 it seems to be 1280 characters.
We could either leave off the names "x y<x.y@z.com>" ->  "x.y@z.com" as soon as the Text gets long (> 500 chars) or have a minmal online mail editor (subject, body, no rich text, no attachments) and send the mail through browser / server instead of native mail client. Then wi could also use confluence i

[2017-08-15 06:11] Jean-MichelBenkert commented on #9
Both sound fine to me. Copying the emails to the clipboard sounded good,
too. Conclusion: Whatever you deem best!

thank you!

Jean-Michel Benkert
Group Strategy & Digital Transformation

Baloise Group, Aeschengraben 21, Postfach, CH - 4002 Basel
Telefon +41 58 285 75 04
jean-michel.benkert@baloise.com - www.baloise.com

Von:	Matthias Cullmann <notifications@github.com>
An:	baloise/digital-signatu

[2017-08-15 13:59] #9 closed

[2017-08-15 13:59] #10 closed

[2017-08-15 13:59] #11 closed

[2017-08-30 15:05] jecosgrove opened #12 "Groups rather than individual accounts"
Hello,
I've been testing out this signature macro for use in Confluence.  Really nice.  I was wondering if there is a way to add functionality for adding active directory groups rather than just individual accounts?  I have a large group of users that I'd like to have sign a confluence document, but do not want the manual process of adding them one by one.

[2017-09-01 07:25] culmat commented on #12
Hi there,
we could use confluence groups, which in term can be [mapped to external directories](https://confluence.atlassian.com/doc/connecting-to-an-ldap-directory-229838241.html).
Not sure what to do about the display of the "missing signatures". That could be a really big list.
Also it could change dynamically with the group, so  not sure how interesting it would be to display those ...?
Regard

[2017-09-01 12:13] jecosgrove commented on #12
Hi Matthias,
Thanks for responding.  Yes, if there is a way to use confluence groups that would be very helpful.  It could then pull membership from security groups in AD.  Changing dynamically is actually what I'd want.  I'm using this module to sign participation in a training course.

[2017-09-01 15:20] ahomarsilicongears commented on #12
Hi Matthias,

We really like your add-on to keep a registry of who read each documentation. It would be really convenient for us too to be able to define signers by groups.

Thanks in advance.

[2017-09-07 14:35] culmat commented on #12
Hi,
I will give this feature a try. Just to let you know. It will probably not be in September.
Regards

[2017-12-14 15:24] culmat opened #13 "Email button broken?"
Email button seems to be broken?

[2017-12-14 15:25] culmat opened #14 "Export with special chars"
Export should support special characters.
Either add UTF-8 Meta or HTML - escape.

[2017-12-17 16:52] culmat opened #15 "Let anyone sign"
Have the possibility to let any logged in user sign.

[2017-12-17 16:55] culmat opened #16 "Manual Freeze"
Macro Option to freeze contract, so nobody can sign any more.

[2017-12-17 16:57] culmat opened #17 "Petition mode"
Macro Option to freeze contract and notify as soon as a certain number of signatures are reached, see #15  and #16

[2018-03-13 12:58] lauraverwig opened #18 "Protected documents"
Optionally allow signees to access protected content
It must not be possible to gain access to existing protected content by setting up a dummy contract.

Idea: generate a unique protected sub page, with read only users fromthe parent page removed.
When contract signed. The signee will get read access to the protected sub page.
Use UUID as title for the sub page.

[2018-03-19 12:58] mcameron001 commented on #12
Hi!

I would love this functionality. Were you able to progress this issue any further?

Cameron

[2018-03-21 17:39] tippolito opened #19 "Documentation not found"
no content found on wiki page.
https://github.com/baloise/digital-signature/wiki/Singature-Macro-Usage

[2018-03-21 17:58] #14 closed

[2018-03-23 12:34] #13 closed

[2018-03-24 16:01] #18 closed

[2018-03-27 13:49] culmat opened #20 "URL characters in title break in mailto-link"
eg title = take #iteasy
the part after the hash will be cut off

(reporter c.h.)

[2018-03-27 14:00] #12 closed

[2018-03-27 14:00] #15 closed

[2018-03-27 14:00] #16 closed

[2018-03-27 14:00] #17 closed

[2018-03-27 14:09] #20 closed

[2018-03-27 15:33] culmat commented on #12
Hi all,
i made an implementation - t is in release 0.9.2 together with more features and fixes.
We are aware #19 is becoming more and more important. It is next on the list.
Please be aware this has impact on performance with large groups. Consider using maxSigners.
Also there is no group chooser, so you might prefer to protected the entire page and use the inheritance feature. If you protect the

[2018-03-29 04:59] seawyk commented on #13
hi. Is the email button fixed? i installed 0.9.3 and clicking on the email button shows a mailto link like the one below

mailto:Lionel%20Seaw%3Cseawyk@xxx.com%3E?Subject=Document+Review

Is this correct and by design? Are there any plans to automate the email process to automatically send a mail to all signers? or to inform signers by creating this as a task?

[2018-05-07 11:18] #2 closed

[2018-05-07 11:21] #19 closed, assigned to nobody

[2018-05-08 18:42] trja1 opened #24 "Data Center"
Has this add-on been tested in the Data Center version of Confluence?

[2018-05-09 06:04] culmat commented on #24
No. I never used data center products and I am not aware of what needs to be done to test / provision a plugin for DC usage.

[2018-05-11 11:40] culmat opened #25 "German translation"

[2018-05-11 12:05] culmat commented on #24
https://developer.atlassian.com/platform/marketplace/developing-apps-for-atlassian-data-center-products/
All APIs used for the digital signatures are DC ready.
We have not yet tested. Obviously, for better scaling #1 should be fixed.

[2018-05-12 08:29] #25 closed

[2018-05-24 14:56] amragl commented on #1
The add on is a great alternative to Page Approval, however the fact that you can't modify contract is an issue.
When changing txt in the box, my signature and the checkbox ticked are removed, however I don't get the option to sign it again.

Would be nice if it could be fixed.

Thanks.

[2018-05-24 15:19] culmat commented on #1
Hello,
thanks for your feedback.
Which version of the plugin are you using? Did you check the signers / signerGroups / inheritSigners / maxSignatures options?
I can not reproduce the error. When I change the content I can sign again.
Best regards.
Mattthias

[2018-05-24 17:01] culmat commented on #1
1.  This is currently not planned. We try to model a real signature. Once you sign a contract you should not be able to erase that signature. What would be the exact use case here?
1. The history of approval (who signed and when) is an integral part of the macro. It is rendered in the macro as well as in the export. Where else would you like this information to be displayed?

[2018-05-29 15:17] amragl commented on #1
Thank you.

[2018-06-04 13:28] pbaumi opened #26 "Position of the signature button should be flexible"
Hey, very nice Add-On! As we alwayys have longer lists of signers (80+) AND have to integrate the macro in a page that people have to be able to read, it would be very nice to be able to specify the position of the signature-button and show/ hide the list of signers in the macro view (the list view in the background provides a complete overview). We'll try to figure something ourselves, any pointe

[2018-06-05 14:48] culmat commented on #26
Thanks for the compliment :-)
My first thoughts
1. count signatures
1. if more than <THRESHOLD> display only last <SOME> and and put the rest into a [expander](https://docs.atlassian.com/aui/5.2/docs/expander.html)

Should be quite straight forward to implement in [DigitalSignatureMacro.java](https://github.com/baloise/digital-signature/blob/master/src/main/java/com/baloise/confluence/digitalsigna

[2018-06-07 13:21] bobbejokohler opened #27 "When a user leaves the macro no longer displays correctly."
We are using digital signature to approve releases in Confluence.  Our user base comes from JIRA / Crowd.  We had a manager leave who had approved the release.  The macro is now displaying a error message because the user is disabled.

This is critical for our audit trails / security audits.

[2018-06-15 11:47] #27 closed

[2018-06-15 12:19] culmat commented on #27
fix ist release to the marketplace https://marketplace.atlassian.com/apps/1217404/digital-signature?hosting=server&tab=versions
when a user gets deleted the user id is displayed and he is not included in mailings any more.

[2018-06-15 20:41] bobbejokohler commented on #27
The macro is now rendering, however, this person used to be a manager and signed off.  Now that they are no longer here their check was removed.  In the future will this stay?
![digital signature](https://user-images.githubusercontent.com/40030520/41488609-e6fcdf7c-70ba-11e8-9b6d-18cd2df80b60.png)

[2018-06-18 06:47] culmat commented on #27
I can not explain nor reproduce the removed tick.
Only the rendring of the name should change.

[2018-09-07 15:50] MarkusTiede opened #30 "Compatibility update for Confluence version 6.11.0"
![image](https://user-images.githubusercontent.com/1764012/45229566-73bf8480-b2c6-11e8-8593-490c3821137f.png)

[2018-09-13 06:54] MarkusTiede commented on #30
Next request
![image](https://user-images.githubusercontent.com/1764012/45471838-9c1a0980-b732-11e8-8642-7e68c089ab95.png)

[2018-09-13 07:04] culmat commented on #30
FIXED see https://marketplace.atlassian.com/apps/1217404/digital-signature?hosting=server&tab=versions

[2018-09-13 07:04] #30 closed

[2018-09-25 10:41] moseisleydk opened #31 "Using plugin in a Template"
Using the Plugin in a Template gives us:

![image-2018-09-24-16-05-26-022](https://user-images.githubusercontent.com/15978685/46009572-480f0d80-c0c0-11e8-96bb-199ec168c515.png)

[2018-09-25 14:55] MarkusTiede commented on #31
Hi @moseisleydk - thanks for reporting this! Do you happen to have some more information about the Atlassian instance you're currently using as well as maybe log-file excerpt?

@culmat : Could you tell from our side what might be causing the CCE?

[2018-09-28 05:49] moseisleydk commented on #31
When my customer try to use it now:

Error rendering macro 'signature'

com.atlassian.confluence.pages.Draft cannot be cast to com.atlassian.confluence.pages.Page

![screenshot 2018-09-28 at 07 46 57](https://user-images.githubusercontent.com/15978685/46190170-b509e980-c2f2-11e8-9334-f58ad0d9ad04.png)

Confluence Version | 6.10.1
Build Number | 7702
Server Base URL | https://www.nspop.dk

CATALINA

[2018-10-02 09:55] moseisleydk commented on #31
Any progress here? Can I help?

[2018-10-02 11:03] MarkusTiede commented on #31
@moseisleydk : Thanks for the additional information - we're now able to reproduce and it's likely to be fixed in the upcoming weeks.

As a workaround for now: using the template as a page instance works (at least for us); so only previewing within the template context is currently broken.

[2018-10-03 06:18] moseisleydk commented on #31
Same her, the macro renders when I press "Next" from the Template creation

[2018-10-04 05:58] culmat commented on #31
tested and OK

[2018-10-04 05:58] #31 closed

[2018-10-04 09:21] culmat commented on #31
Hi moseisleydk,
the fix is released.
Have fun.
Matthias

[2018-10-11 20:03] Mbeda opened #32 "Timeout when I try to enable plugin"
`2018-10-11 15:51:59,757 WARN [http-nio-8090-exec-18] [confluence.util.profiling.DefaultActivityMonitor] close Exceeded the threshold of 60000 ms: ActivitySnapshot{startTime=1539287455351, threadId=180, threadName='http-nio-8090-exec-18', userId='[omitted]', type='web-request', summary='/rest/plugins/1.0/com.baloise.confluence.digital-signature-key'}
-- referer: https://ohsejiradev01.summit.networ

[2018-10-15 13:17] MarkusTiede commented on #32
Thanks for reporting!

@culmat : could you tell what might be causing this or do we need additional information?

[2018-10-24 14:05] reginvaldr opened #33 "Data migration can cause loss of signatures given?"
We use Confluence Server. We recently migrated from Confluence to Confluence using a data migration. We have detected that some pages lost their signatures that were already given. Do you know what can cause this doing a data migration. Do you know what to do to prevent this happening

[2018-10-30 09:08] MarkusTiede commented on #33
Hi @reginvaldr - thanks reporting this!

Can you give a bit more details what data migration means for you?

The signature is built from the [pageId, title and body](https://github.com/baloise/digital-signature/blob/master/src/main/java/com/baloise/confluence/digitalsignature/Signature.java#L31) - did any of these attributes change on migration?

[2018-10-30 11:01] reginvaldr commented on #33
We did an XML import from one database to another. Both Postgresql with
same version. After the import we saw only the first version of the page
where three versions were expected. We didn't find anything in the log but
the digital signature was used as macro (as only one). Also the content in
the digital signature was gone from the page. So between source and target
lost two versions and the sign

[2018-11-15 10:10] culmat commented on #33
Hi Ronald,

the signatures are stored outside the containing page in [Bandana](https://developer.atlassian.com/server/confluence/what-is-bandana-one-form-of-confluence-persistence/). This allows us to ensure that the contract has not been modified, while the page itself (and thus the contract meta information contained in the macro) can still be edited.

There is some more discussion on this in [I

[2018-12-18 07:54] sesh03141 opened #35 "Outlook conflict (incorrect separators (, instead ;))"
We have the following situation. As you remember, you kindly helped Mariano and added a macros for signature in jira. Before we wre able to send reminders directly from the article to pending signatories for example.

Today I tried to use it but for some reason it separates the receivers by a comma and it asks for semicolon. So, we have to manually change the commas for semicolons. Do you know how

[2018-12-18 09:19] sesh03141 commented on #35
Markus, we solved it in Outlook client, - just allowed to use separators in
options. So this request could be desculifed.

вт, 18 дек. 2018 г. в 11:24, Markus Tiede <notifications@github.com>:

--
С Уважением,
Щербаоков С.А.

[2018-12-18 09:22] MarkusTiede commented on #35
Thanks for the quick response - resolving accordingly.

[2018-12-18 09:22] #35 closed

[2019-01-31 07:59] MarkusTiede opened #36 "Atlassian - add Privacy Policy"
It is important to users to have trust in the Atlassian Marketplace. Improve that trust by including a Privacy Policy for users of your apps. This statement to users will be required after January 31st.
As a reminder, receiving this email means that you have one or more apps that are not yet compliant. Add a URL linking to your privacy policy in the Data security and privacy statement field, locat

[2019-02-13 12:32] culmat commented on #36
See https://www.osnews.com/story/22233/the-difference-between-eulas-and-open-source-licenses/

[2019-02-13 15:28] culmat commented on #36
https://ecosystem.atlassian.net/servicedesk/customer/portal/9/AMKTHELP-14932

[2019-03-21 07:29] BarnaliPutatunda89 opened #37 "digital-signature plugin not supporting Confluence 6.14"
We are upgrading Confluenec to 6.14.2 & digital-signature plugin does not have a supported version. Could you please look into it.

[2019-03-23 15:37] josiahsansone commented on #37
Same here for 6.13.3 - there was a critical sercurity advisory issued for older versions of Confluence which forced us to upgrade.  Would be nice if this add-on could be made compatible for the newer versions.
Thanks!

[2019-04-01 08:17] culmat opened #38 "French translation"
see https://github.com/baloise/digital-signature/blob/master/src/main/resources/digital-signature.properties

[2019-04-01 08:17] culmat opened #39 "Italian translation"
https://github.com/baloise/digital-signature/blob/master/src/main/resources/digital-signature.properties

[2019-04-04 08:52] reginvaldr commented on #37
Will you work on newer versions of Confluence? Or do you terminate this nice plugin? Is it possible to ask our Atlassian partner to take care of the requirements for keeping it in the Atlassian Marketplace? They do more plugin coding, maintenance and support.

[2019-04-04 11:08] MarkusTiede commented on #37
Thanks for reporting this - we're currently not planning on terminating it; however we maintain this with best effort which might cause delays in response from time to time - sorry for that!

@culmat : could have a look into this?

[2019-04-06 12:53] culmat commented on #37
Fixed.

[2019-04-06 12:53] #37 closed

[2019-04-06 13:23] culmat commented on #36
See
- https://github.com/baloise/digital-signature/blob/master/docs/privacy-policy.md
- https://ecosystem.atlassian.net/servicedesk/customer/portal/9/AMKTHELP-16056

[2019-08-26 15:03] bfrauen opened #40 "Option to hide list of users from the page."
Hi there,

we cannot use the macro Right now because the macro Displays all names of the users that Need to sign. This does not fit to our data security Policy. Can you add a configuration to the macro in order to hide the users?

Best regards
Björn from STAGIL

[2019-08-30 07:14] MarkusTiede commented on #40
Hi @bfrauen - thanks for reporting this: I’ll get in contact with the maintainer and see whether we’ll add this functionality. Could you maybe add a few more information on what the expected behavior should look like? Thanks!

[2019-09-05 06:56] MarkusTiede opened #41 "Find deputy codeowner for "baloise/digital-signature""
https://github.com/baloise/digital-signature/blob/master/docs/CODEOWNERS

[2019-09-19 12:08] bfrauen commented on #40
Hi Markus,

do you have any update on this for me?

1. In the first place the macro should just now Display all missing users:
![image](https://user-images.githubusercontent.com/8853061/65242623-c55c3b00-dae6-11e9-9732-bca2aac964fc.png)

2. Further improvements would be to have a configuration section where admins can define users/Groups that have permission to view missing signatures / done signa

[2019-09-19 17:07] MarkusTiede commented on #41
@culmat could you please also look for someone here?

[2019-09-19 17:09] MarkusTiede commented on #40
Hi @bfrauen - thanks for the additional information.

However I haven‘t heard anything so far from @culmat - I‘ll try again to get in touch with him. Otherwise we‘ll hand this over which might take some time - see #41

For the eMail and upcoming reply I‘d recommend (resending) it to: Group.CH_Open-Source@baloise.ch - the first one we‘re no longer actively maintaining.

[2019-09-19 17:10] MarkusTiede commented on #40
Maybe to speed this up: would it be an option to implement this yourself? We‘d be happily integration PRs that would come for the project.

[2019-10-23 22:08] suhasbharadwaj opened #42 "[Feature request] Body of the email while sending reminder email to signatories"
Hi,
Can you please provide the option to add the content as the body of the email.
So that on clicking the email option to pending signatories, it pick the content provided in the macro.

Regards,
Suhas

[2019-10-24 07:45] MarkusTiede commented on #42
Hi @suhasbharadwaj  - thanks for reporting this: I’ll get in contact with the maintainer and see whether we’ll add this functionality. Could you maybe add a few more information on what the expected behavior should look like? Thanks!

[2019-10-24 19:05] suhasbharadwaj commented on #42
Hi Markus,
Thanks for the digital-signature macro. This is very useful.

Feature request:
Once we add a digital-signature macro in confluence, on clicking the email icon it provides the option of sending email to “Completed Signatories” and “Pending Signatories”.
On clicking “Pending Signatories” it creates an email with the subject as “Panel title” and body blank.
Instead of keeping the body blan

[2019-10-29 21:49] ngeraci0318 opened #43 "Request support for Confluence Version 7+"
Our organization just updated to Confluence version 7 and the digital-signature macro is no longer compatible. Is there a way to make this macro compatible with v7+ ?

[2019-10-31 21:24] MarkusTiede commented on #43
Hey @ngeraci0318 - thanks for your request. There sure is a way: I‘ll have to check in which timeframe.

[2019-10-31 21:26] ngeraci0318 commented on #43
Thanks so much! I look forward to hearing back about the timeline – we’ve really come to rely on the signature feature at our company and would love to get it back!

From: Markus Tiede <notifications@github.com>
Sent: Thursday, October 31, 2019 2:24 PM
To: baloise/digital-signature <digital-signature@noreply.github.com>
Cc: Nicholas Geraci <nicholasg@SpaceflightIndustries.com>; Mention <mention@no

[2019-11-01 08:34] culmat commented on #43
updated to v7.0.4

[2019-11-01 08:34] #43 closed

[2019-12-17 09:16] Inno-DAC opened #44 "javax.mail.Provider: Provider com.sun.mail.imap.IMAPProvider not found"
[error.zip](https://github.com/baloise/digital-signature/files/3972410/error.zip)

Digital-signature fails to send notification email upon signature : it lacks the javax.mail dependency.
Confluence notification emails are working fine though.

Environnement :
- Confluence 7.1 server
- digital-signature 0.10.3

Environnement Java Runtime
Linux 4.15.0-72-generic
amd64
Apache Tomcat/9.0.27
4.0
Java 1

[2020-03-06 21:41] krispn24 commented on #44
We're getting the same error. Any suggested fixes, thus far?

[2020-03-09 14:56] MarkusTiede commented on #44
No not yet.

Thanks for noticing and sorry for the delay - @Tiliavir: Would you mind having a look into this next thursday (aka. our [open-source thursday](https://opensourcefriday.com/)?

[2020-03-17 09:23] Tiliavir commented on #44
Most probably a version issue (digital-signature was built against 6.x).
Will try to upgrade the solution as soon as possible.

Easiest approach seems to be to use the Atlassian SDK to create a "new" confluence plugin and move our code afterwards:

`.\atlas-create-confluence-plugin.bat -a digital-signature -g com.baloise.confluence -v 7.0.0`

[2020-04-17 11:03] n102142 opened #46 "Contract titel"
Hello everyone,

is it possible to configure that the contract titel is always the document titel, maybe with a variable?

Thank you!

[2020-04-28 12:55] culmat commented on #44
Hello InnoDac,

thanks again for reporting this issue. We released the fix [as V7.0.0 on the marketplace](https://marketplace.atlassian.com/apps/1217404/digital-signature/version-history).

Enjoy.
Markus & Matthias

[2020-04-28 14:13] culmat commented on #46
Hello n102142,

yes this is totally possible. We could use a magic word i.e _$pageTitle_ to indicate that the title should be inherited from the page.

The draw back I see is:  it is encouraging people to have the contract content in the page and use the signature macro only with minimal text, though only the content of the macro is hashed into the signature. See [Signature Macro Usage](https://gi

[2020-04-28 21:38] Jokabu2 commented on #46
Hello Matthias,

thank you!

Yes I see you point. We use this marco in a different context. Somebody creates a new page by using a template. At the top is the content and documentation and in the bottom of the page there is the sign macro. We use the sign to approve the Confluecne page.

Best regards.
Tomas

[2020-05-07 11:27] MarkusTiede commented on #44
Hey @Inno-DAC & @krispn24 - do you have any updates whether it's working now? Thanks for a quick feedback!

[2020-05-07 12:06] Inno-DAC commented on #44
Still not working, same Error.
Tested using Confluence 7.2.0, Digital-Signature 7.0.0
![Annotation 2020-05-07 135614](https://user-images.githubusercontent.com/58973199/81292359-c210c200-906b-11ea-825e-24cd9db87c74.jpg)

[2020-05-07 12:27] MarkusTiede commented on #44
Thanks for the quick update - @Tiliavir : would you mind having a look again / asking e.g. for more details / logs to trace this issue down?

[2020-05-07 12:28] MarkusTiede commented on #41
I've just spoken to @Tiliavir and he'd like to help out here - thanks for stepping up!!

[2020-05-07 13:25] MarkusTiede commented on #41
Further details can be found here: https://github.com/baloise/digital-signature/pull/47

[2020-05-07 13:25] #41 closed

[2020-05-09 15:43] culmat commented on #46
Hello Tomas,

IMHO this is a similar but different use case - it is a page approval, not a contract.
After approval can you still edit the page?
What shall than happen to the signature?
I guess the signature should be linked to the content of the page ( storage format)? ( Knowing that with page includes and other macros the content can change on every refresh )
We could have a body-less  macro ( I

[2020-05-10 10:20] Jokabu2 commented on #46
Thank you for the input. The different points you asked are very helpful but we only want to use the very basic functionalities.

Thank you!

[2020-05-10 14:45] #40 closed

[2020-05-10 14:45] #44 closed

[2020-05-10 14:49] culmat commented on #32
@Tiliavir I can not reproduce this. Let's close it?

[2020-05-10 14:51] #36 closed

[2020-05-10 15:09] culmat commented on #44
Hello @Inno-DAC & @krispn24
I have been able to reproduce and fix this. Please update to https://marketplace.atlassian.com/apps/1217404/digital-signature/version-history
Best regards.
Matthias

[2020-05-10 15:10] culmat commented on #40
Hi @bfrauen,
please update to v7.0.1 ( released to the marketplace ).
Any comments welcome.
CU
Matthias

[2020-05-11 04:46] Tiliavir commented on #32
@culmat : Yes, since there was no similar issue within the last year and since we cannot reproduce it, we might want to close it.

[2020-05-11 04:46] #32 closed

[2020-05-12 06:42] Inno-DAC commented on #44
working like a charm ! Thank you for your great job

[2020-05-12 06:55] MarkusTiede commented on #44
Thanks for fixing @culmat and for confirmation that it works @Inno-DAC : would you be interested giving us / the plugin a review in the [Atlassen marketplace](https://marketplace.atlassian.com/apps/1217404/digital-signature?hosting=server&tab=reviews)?

[2020-05-19 07:41] edithhirte opened #49 "Problem with "Digital Signature""
I am contacting you regarding your Conflunce plug-in „digital-signature“. We are using it extensively in our internal document reviews, but we are experiencing severe technical problems with the plug-in and would like to inquire if you might be able to help.

The problem: we have many pages with up to 40 signature fields. Randomly, the signature doesn’t work for individual users (again, there is n

[2020-05-19 09:40] culmat commented on #49
Hello Jakub,

do you see any errors in the log file?
How is your confluence setup? Do you use data center / cloud version of confluence or is it a single server instance?

Best regards
Matthias

[2020-05-19 10:12] jakubpochyla commented on #49
Hi Matthias,

errors in the log are a bit hard to track down, do you have maybe a suggestions for what specifically I should look? The log is quite big and we are using a lot of plugins.
We are using Confluence Server. The Confluence instance and database are running on different linux servers.

Do you need any other details?

For communication: should we write here or directly via mail?

Thank yo

[2020-05-19 10:29] culmat commented on #49
Hi Jakub,

I would expect an error from the class com.baloise.confluence.digitalsignature.rest.DigitalSigatureService.DigitalSigatureService.
Maybe you can search for the package _com.baloise.confluence.digitalsignature_ or simply for _Exception_

Seems strange to me, that the button is clickable but nothing happens. It is a plain HTML form with /atlassian/rest/signature/1.0/sign as action, so the

[2020-05-19 10:35] jakubpochyla commented on #49
Hi Matthias,

thank you for the quick reply. I'll start digging in the logs.
Your guess is right.
Also we have sometimes the strange behaviour, that the last person who signed, appears with name and date of signature in all the other signatures not yet signed on the page.

To elaborate our use of the plugin:
we have, let's say 20 users who have to sign. Some are grouped into one signature but most

[2020-05-19 11:40] culmat commented on #49
It could be a concurrency / multithreading issue: if several users sign at the same time, it might be that one overwrites the state of the other, as the signature object graph with the list of all signatures is stored as a whole.
I will try to reproduce this with a stress test.

If this is the case I may need to put a lock on the Bandanamanger or the rest endpoint, or change the storage format to

[2020-05-19 12:19] jakubpochyla commented on #49
Hi,

This is one exception I've found so far:

Output from atlassian-confluence.log

2020-05-18 15:31:10,881 ERROR [https-jsse-nio2-8443-exec-8] [common.error.jersey.ThrowableExceptionMapper] toResponse Uncaught exception thrown by REST service: null
 -- referer: https://XXX | url: /rest/signature/1.0/export | traceId: XXX | userName: XXX
java.lang.NullPointerException
        at com.baloise.confl

[2020-05-19 16:42] culmat commented on #49
Interesting. I would have rather expected the exception in com.baloise.confluence.digitalsignature.rest.DigitalSigatureService.sign
Which is the exact version of the plugin you are using?

[2020-05-19 17:11] culmat commented on #49
The strange thing it is takes days to recover. The more I think about it, the less I'm convinced it is a concurrency issue...

This is [normal behavior](https://github.com/baloise/digital-signature/wiki/Signature-Macro-Usage) if the **title** and **content** of the signature panel are the same ( i.e. copy / paste ) and they are on the same page.

Please remember you sign the content ( **panel titl

[2020-05-25 08:54] jakubpochyla commented on #49
Hi Matthias,

thank you for your replies.
So to sum up you would recommend the following:
- manually insert the plugin for every user, instead of paste/copy
- use one panel for all the signatures instead of multiple panels with one/two users each

Did I understand you correctly?
I'll investigate if we have the problem of the macro disappearing.

Best regards,
Jakub

[2020-06-04 11:20] Tiliavir opened #50 "Fix Codacy and build warnings"

[2020-06-23 07:32] culmat commented on #49
Hello Jakub,
manually insert vs paste/copy should be the same.
Yes I recommend to use one panel for all the signatures instead of multiple panels with one/two users each.

Do you still experience problems or can we close this ticket?
Best regards.
Matthias

[2020-06-23 09:38] edithhirte commented on #49
Hello Matthias,
it seems like we solved the problem by individualising the content: each signature makro gets an own title, own signer, own text inside the box. Since we did this, there have been no problems. So yes, close the ticket. But if it reorccurs, we will get in touch. Best, Edith

[2020-06-23 09:38] #49 closed

[2020-07-03 13:02] Tiliavir opened #51 "New Macro: Page Approval"
In #46 digital-signature was used for page approval. There are already solutions existing for this, but maybe we could provide an easy open source solution.

- https://marketplace.atlassian.com/apps/144/page-approval-for-confluence
- https://marketplace.atlassian.com/apps/1216387/approvals-for-confluence

[2020-07-03 13:02] Tiliavir commented on #46
Hi @Jokabu2

One of the following macros, designed solely for the use case you describe, might better fit your needs:

- https://marketplace.atlassian.com/apps/144/page-approval-for-confluence
- https://marketplace.atlassian.com/apps/1216387/approvals-for-confluence

However, this is an interesting scenario we might want to pick up for a new macro in the future.

Best regards
Markus

[2020-07-03 13:02] #46 closed

[2020-07-03 13:31] Tiliavir commented on #42
Hi @suhasbharadwaj

when I summarize correctly you see two improvements:

1. a feature like the "share this page" button, sending a mail containing the contract text
2. some sort of a configurable default message

At the moment the mail button will open your default mail application and create a new mail with a preset subject (=contract title) and send-to field. Since this is a mail-to-link, the l

[2020-08-31 11:10] Tiliavir commented on #26
@culmat I've just pushed a first approach for this issue, implementing a threshold and some sort of expander logic.

[2020-09-01 15:25] #50 closed

[2020-09-11 16:00] CodeParanoia commented on #24
We are using this AddOn for months now in Data Center. No issues.

[2020-10-12 22:23] ankyptl opened #55 "Signed signature not showing up on confluence page"
When someone clicks on sign as button, I get the email that it was signed, however, when I go to the confluence page the approval does not show up.

[2020-11-30 07:52] christiansiegel opened #56 "Migrate from travis-ci.org to travis-ci.com until 2020-12-31"
travis-ci.**org** will be closed down December 31st, 2020

Announcement: https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom
Migration guide: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2020-12-07 21:30] mpwilks opened #57 "Cannot enable app"
I've installed the app, but it fails to enable.

## Error
[code]

[2020-12-08 07:45] MarkusTiede commented on #57
Hello @mpwilks - thanks for reporting: @Tiliavir are the information sufficient to reproduce this this?

Maybe @mpwilks you could add a few more information what kind of version of confluence you are using?

[2020-12-08 08:35] Tiliavir commented on #57
@mpwilks could you provide both, the confluence version, and the version of digital-signature? And if available all steps to reproduce this error?

@Mbeda had this issue before but we closed it due to missing information: https://github.com/baloise/digital-signature/issues/32

[2020-12-08 13:08] mpwilks commented on #57
I'm using Confluence 6.15.9

[2021-01-06 14:37] Tiliavir commented on #57
Hi @mpwilks

thank you very much for the details.

I tried the following to reproduce your behavior:

# First attempt
[code]
Those docker images seem to have a problem with the h2 database. See [CONFSERVER-60095](https://jira.atlassian.com/browse/CONFSERVER-60095) for details.

# Second attempt
Since 6.15.9 and 6.15.10 (latest) did not work with an in memory DB, I tried to use the last LTS version

[2021-01-06 20:50] mpwilks commented on #57
I'm working in a restricted environment as to what I can/cannot install.
I did have this working in my Dev environment (same Confluence version, same app version), and now I'm receiving a stack trace when trying to click to sign:
`<status>
<status-code>500</status-code>
<stack-trace>java.lang.UnsupportedOperationException at java.util.AbstractMap.put(AbstractMap.java:209) at com.baloise.confluence

[2021-01-06 21:16] mpwilks commented on #57
I'm investigating to see if my error has to do with [this error](https://confluence.atlassian.com/confkb/plugins-are-disabled-during-startup-due-to-unsatisfied-dependencies-errors-838278917.html?utm_medium=logScan&utm_source=STP). I will advise if this works to fix the problem.

[2021-01-06 21:51] Mbeda commented on #57
@mpwilks Check to make sure you do not have any system plugin disabled. If I remember correctly we got it working after I turned on the workbox and mobile plugin in system plugins. We also needed to increase the timeout in the JVM to avoid a long load on the plugin. We did like the plugin but ended up going another path...hence why we never responded to the ticket.

[2021-01-07 01:20] mpwilks commented on #57
I found that the workbox plugin was disabled for some reason. It's enabling now. We can close this out. Thanks for all your effort.

[2021-01-07 07:34] Tiliavir commented on #57
Thanks to both of for your feedback and sharing that insight!
That will make things a lot easier for others if this issue occurs again...

[2021-01-07 07:34] #57 closed

[2021-01-07 08:00] Tiliavir commented on #26
Hi @pbaumi

This was fixed in 7.0.2. Upload to marketplace will be done in the next weeks - until then you can try / use the OBR from [our release repo](https://github.com/baloise/digital-signature/blob/gh-pages/7.0.2/digital-signature-7.0.2.obr).

Best regards
Markus

[2021-01-07 08:00] #26 closed

[2021-01-07 12:58] AnnaOlenberg opened #58 "Error messege: You need to enter at least 10 characters of text to be signe - Addin Digital Signature"
Hi dear support-team,
we use your addin for Confluence Signature Panel.
After our update to Confluence 7.4.6 and update of your addin to 7.0.1 we get this error messege:
You need to enter at least 10 characters of text to be signed.
![image](https://user-images.githubusercontent.com/77107399/103894778-b2141b00-50ef-11eb-89e7-fcfa42b4710c.png)

Even though the panel title has 10 characters, the err

[2021-01-14 14:18] Tiliavir commented on #58
Hi @AnnaOlenberg

I think this error message refers to the content/contract of the panel, that can be signed and not the title.
Since you are still in the process of adding the panel to the site, there is not content and the preview shows a warning. You should never the less be able to add the panel to your page and add content afterwards.

This might not be too intuitive, but is correct from my p

[2021-01-14 14:26] Tiliavir commented on #55
Hi @ankyptl

that sounds strange - was the content of the signature panel changed in the mean time?

Can you give any hints what could have caused that behavior or even how to reproduce it?
Does the panel e.g. look broken in any way, except that the signature is missing? Are there warnings in the browser console, etc?

Thanks for the bug report
Markus

[2021-01-14 15:17] MarkusTiede opened #59 "Test compatibility for data center version of Atlassian Confluence"

[2021-01-18 17:01] Tiliavir commented on #56
Using github actions instead.

[2021-01-20 06:57] #56 closed

[2021-01-20 09:50] Tiliavir commented on #24
Will as well be elaborated in #59

[2021-01-20 09:50] #24 closed

[2021-01-20 09:57] Tiliavir commented on #59
There is no official data center docker image as documented e.g. here: https://github.com/codeclou/docker-atlassian-confluence-data-center

But I found this one and will try to get it up and running within the next days: https://github.com/codeclou/docker-atlassian-confluence-data-center

[2021-01-21 20:03] williamtanner17 opened #61 "Error after updating to version 7.0.2"
We just updated the digital-signature plugin for Confluence to version 7.0.2.  After the update, when we click the button "Sign as ..." we get a page displaying a bunch of XML.  I have attached a screen shot.

Is this a bug or is there something we need to do on our end?

![digital-signature](https://user-images.githubusercontent.com/77806718/105405877-a8170f80-5bf9-11eb-8d80-d05551af8726.jpg)

[2021-01-22 15:57] Tiliavir commented on #61
Hi @williamtanner17

Thank you for reporting the issue!
Could you provide your confluence server version? I'll try to reproduce it specifically with that vesion.

Best regards
Markus

[2021-01-22 16:44] williamtanner17 commented on #61
Hi Markus,

We discovered this during testing after upgrading our Test environment to Confluence Data Center 7.10.1.

Regards,

Bill

[cid:image001.png@01D6F0B3.F6C1B330]
William Tanner
Maestro
U.S. Department of Homeland Security
OCIO | CTOD | TA&E (Contractor Support)
[A picture containing clipart  Description automatically generated]
Empowering teams to work together, through intuitive solution

[2021-01-25 13:03] AnnaOlenberg commented on #58
Hallo Markus,
thanks!
It works.
Best, Anna

Tel.: +49833460137109
MULTIVAC Info Box
MULTIVAC
Sepp Haggenmüller SE & Co. KG - Bahnhofstr. 4 - D-87787 Wolfertschwenden - Germany
Tel.: +49(0)8334/601-0 - Fax: +49(0)8334/601-199 - multivac@multivac.de
Kommanditgesellschaft
Sitz: 87787 Wolfertschwenden  Amtsgericht: Memmingen
HRA 8040

USt-IdNr.: DE 129082475 -
Steuer-Nr.: 138/169/51105 - WEEE-Reg.-Nr.

[2021-01-25 15:46] Tiliavir commented on #58
Thank you very much for your feedback and glad it works!

[2021-01-25 15:46] #58 closed

[2021-01-25 17:31] culmat commented on #61
Hello Bill,

do you get this error on all macro instances or only on some?
Can you create a new macro with v7.0.2 and sign it?
Does the export work?

![image](https://user-images.githubusercontent.com/638519/105741531-b1c2af00-5f3a-11eb-9cd5-5fe4e1eec531.png)

Best regards.
Matthias

[2021-01-29 10:48] MarkusTiede opened #63 "Improve readme and add some "marketing" content (screenshots, feature list)"

[2021-02-01 21:01] Tiliavir commented on #63
@MarkusTiede

Is the information added with #64 sufficient for your purposes or are you missing anything?
If so, let me know, otherwise I would suggest to close this issue...

Best regards
Markus

[2021-02-02 09:26] #63 closed

[2021-02-04 15:21] culmat commented on #1
there is news on this topic, see https://jira.atlassian.com/browse/CONFSERVER-52819?focusedCommentId=2651903&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-2651903

Changing the storage logic would certainly break backwards compatibility.

[2021-02-12 09:18] dvillacorte opened #65 "Error after clicking the sign as button"
Confluence v 7.4.3
Digital-Signature v 7.0.2

Error message after clicking button

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<status>
<status-code>500</status-code>
<stack-trace>java.lang.UnsupportedOperationException at java.base/java.util.AbstractMap.put(Unknown Source) at com.baloise.confluence.digitalsignature.Signature.si

[2021-02-18 10:21] MarcelBaselabs commented on #65
Same here error message here.
Confluenec 7.4.6 and 7.4.7
digital-signature 7.0.1 and 7.0.2

On some pages it works, on some pages we get this error.

<details>
  <summary>Our Error-XML</summary>
Status-Code 500

java.lang.UnsupportedOperationException
	at java.base/java.util.AbstractMap.put(Unknown Source)
	at com.baloise.confluence.digitalsignature.Signature.sign(Signature.java:174)
	at com.baloi

[2021-02-25 13:39] MarkusTiede commented on #61
Hello @williamtanner17  - thanks for reporting to this: do you have additional information as requested?

[2021-02-25 14:46] williamtanner17 commented on #61
Hello Markus,

Sorry for the delayed response.  Somehow, I missed the last email notification update.

I tested the plugin this morning to answer your questions and everything is working fine.  I have no idea what changed.  I'll assume this is resolved unless you would like to try and determine what initially happened.

[2021-03-02 09:14] NamaSayaAkilan opened #66 "Is Data Center Version planned?"
We are using Confluence Data Center Version 6.15.7 and would like to use Digital-Signature Add On.
Since it is stated, that at the moment only the server version of Digital-Signature is available, we would like to know if a Data Center version is planned at all?
Thank you very much for your help in advance.

[2021-03-05 14:54] Tiliavir commented on #66
Hi @NamaSayaAkilan

It will be tested with #59 for the data center version of confluence. However, this is postponed a couple of months - I hope it will be possible as for Q3 2021.

That said, it might even work as is in the data center version but that is without any warranty and untested.

Best regards
Markus

[2021-03-11 12:19] MarkusTiede commented on #61
Thanks for the quick response @williamtanner17 - resolving for now: feel free to reopen if it re-occurs.

[2021-03-11 12:19] #61 closed

[2021-03-15 11:33] #66 closed

[2021-03-15 13:27] Tiliavir commented on #65
Hi @dvillacorte
Hi @MarcelBaselabs

Do you have any further insights or observations in the mean time?

@MarcelBaselabs
- When it is occurring on a site, is it then happening all the time or just for some users or randomly?
- Are those pages somehow special? (old vs new, complexity, etc.)

I will try to reproduce the issue but the code looks quite straight forward: https://github.com/baloise/digit

[2021-03-18 07:09] MarcelBaselabs commented on #65
Hi @Tiliavir ,
1. When its occurring it occurs every time. Then we deleted the container, save page, edit page and create new container. At the beginning sometimes it worked, but at the end it always throws this error
2. They contain just text. No images, no other macros.

[2021-03-22 13:53] #65 closed

[2021-03-24 11:08] Tiliavir commented on #65
Version 7.0.3 was released - update of Marketplace will follow.

[2021-04-15 01:59] williamtanner17 opened #68 "Error on some digital signature macros"
We are seeing errors on some digital signature macros, while others work fine.  We even have the same page with the same macro in our Test and Production environments, and the macro works in Test, but not in prod.  The error we see on the page is:

Error rendering macro 'signature'

com.baloise.confluence.digitalsignature.Signature cannot be cast to com.baloise.confluence.digitalsignature.Signatur

[2021-04-15 17:48] Tiliavir commented on #68
Hi @williamtanner17

Very interesting - which version of digital-signature and confluence are you using?

[code]

Best regards
Markus

[2021-04-15 18:53] williamtanner17 commented on #68
Hello Markus,

We are on Confluence Data Center 7.10.1.  We just updated digital-signature to version 7.0.3.

Regards,

Bill

From: Markus Lindenmann ***@***.***>
Sent: Thursday, April 15, 2021 1:48 PM
To: baloise/digital-signature ***@***.***>
Cc: TANNER, WILLIAM (CTR) ***@***.***>; Mention ***@***.***>
Subject: Re: [baloise/digital-signature] Error on some digital signature macros (#68)

CAUTION

[2021-04-16 06:17] Tiliavir commented on #68
Hi @williamtanner17

It seems your deployment state is somehow corrupted. The error from the log file you provided indicates, that you are still on version 7.0.2, cause in 7.0.3 line 294 is empty:

- https://github.com/baloise/digital-signature/blob/7.0.3/src/main/java/com/baloise/confluence/digitalsignature/DigitalSignatureMacro.java#L294
- https://github.com/baloise/digital-signature/blob/7.0.2/

[2021-04-21 10:51] TrooperNo5 commented on #68
Hello there,

we encounter the same behavior. Confluence (Server) is on version 7.10.1 (since January 2021) and the macro says it is on version 7.0.3. How can we verify that the deployment was successful?

Best regards
Christian

[2021-04-21 11:55] williamtanner17 commented on #68
We resolved the problem by uninstalling the plugin, clearing the plugin cache, and reinstalling the plugin.  A restart of each node is also required as part of clearing the plugin cache.

[2021-04-22 09:15] TrooperNo5 commented on #68
@williamtanner17 Thanks for the hint. It was sufficient for us to clear the plugin cache and restart Confluence. Problem is solved for now.

Best regards
Christian

[2021-04-22 09:31] Tiliavir commented on #68
Thank you very much for the update @williamtanner17 and @TrooperNo5!

Glad that the issue is resolved for both of you - I will keep the task open, I think that is worth some kind of documentation in particular since we want to test data center compatibility with #59.

FYI: @culmat

[2021-04-22 12:51] Tiliavir commented on #59
Data Center App Development Guidelines https://developer.atlassian.com/platform/marketplace/guidelines-for-data-center-app-development/
Check App using https://developer.atlassian.com/server/confluence/confluence-data-center-plugin-validator/

[2021-04-22 12:59] #68 closed

[2021-05-04 14:49] maxiestudies opened #70 "class com.baloise.confluence.digitalsignature.Signature cannot be cast to class"
I'm getting this error message when trying to render the signatures:

The plugin worked fine until today, we didn't do any updates (Confluence or plugin).
We are using the Version 7.0.3 of the plugin and version 7.10.2 for Atlassian Confluence.

[2021-05-10 08:57] Tiliavir commented on #70
Hi @maxiestudies

Please refer to this Issue: https://github.com/baloise/digital-signature/issues/68.
Are you using the Data Center version as well? In that case you might have to invalidate the plugin cache.

Best regars
Markus

[2021-06-03 11:21] Tiliavir commented on #59
Since multiple users are already using digital-signature on Confluence's data center version this task will be closed. Digital-signature is therefore considered to support the data-center version as-is.

[2021-06-03 11:21] #59 closed

[2021-06-15 13:22] andrei-pisklenov opened #71 "How to anonymize user's content stored by digital-signature macro"
Dear Baloise team,
We are the vendor of "GDPR and Security" app for Confluence (https://marketplace.atlassian.com/apps/1219041/gdpr-dsgvo-and-security-for-confluence?hosting=datacenter&tab=overview). Our goal is to provide a single entry point for Confluence administrators to implement the "Right to be forgotten".  When a user wants to be forgotten we can automatically anonymize all of the consume

[2021-06-17 16:41] schintalache opened #72 "Datacenter ready digital-signature"
Is it possible to make it datacenter ready? Our company only allows datacenter ready macros to be installed.

[2021-06-18 09:06] Tiliavir commented on #72
TODO:
- https://developer.atlassian.com/platform/marketplace/dc-apps-submitting-your-app/
- https://developer.atlassian.com/platform/marketplace/dc-apps-performance-toolkit-user-guide-confluence/

[2021-06-18 09:11] Tiliavir commented on #59
Continued in #72 in cooperation with our bitbucket codefreeze plugin.

[2021-07-28 16:22] culmat opened #73 "Trigger workflow on signature"
Currently users can get notified. For better process automation it would be cool to fire a web hook, or maybe a JIRA internal event that can be consumed via script-runner or one of the other automation plugins.

[2021-09-02 11:17] sleduc82 commented on #65
Hello there, thanks for this awesome addon !
Unfortunately we have latest 7.0.3 (Confluence 7.4.3 DC) and also have this error 500 after clicking to sign (even if after going back to the page, the signature has been applied) :

[code]

Thanks for your help.

Regards
SL

[2021-09-03 07:54] sleduc82 opened #74 "Remove the mandatory limit of "10 characters minimum" to create the sign form ?"
Greetings !
I would like to know if it is possible to remove this constraint or limit it to 1 or 2 characters, or just a tick box ?
Thanks
Great job !
Regards
Sleduc

[2021-09-03 07:55] sleduc82 opened #75 "Error 500 after clicking "sign" - latest v7.0.3"
Hello there, thanks for this awesome addon !
Unfortunately we have latest 7.0.3 (Confluence 7.4.3 DC) and also have this error 500 after clicking to sign (even if after going back to the page, the signature has been applied) :

[code]

Thanks for your help.

Regards
SL

[2021-09-07 06:13] vcknapp opened #76 "Plans to release version compatible with Confluence 7.13"
Hello, we have a customer who uses this add-on but when they upgraded Confluence, they found the app isn't supported / isn't a compatible version anymore. Please can you confirm if you will release a new version of digital-signature for Confluence 7.13? Thank you. Valerie

[2021-09-07 08:15] vcknapp commented on #76
Please can you also comment on whether there is a roadmap for either Data Center or Cloud versions of the add-on? The customer is going to migrate to Data Center soon so they would also ideally like to continue using this add-on if possible.

[2021-09-07 11:32] Tiliavir commented on #65
Hi @sleduc82

Did you perform the cache invalidation after the upgrade - just asking since that was solving this issue for other users in the past.

Best regards
Markus

[2021-09-07 11:40] Tiliavir commented on #76
Hi @vcknapp

A official data center version is planned with #72 however you can already use the current version:

I will take care for a new version of digital signature supporting confluence 7.1.13 next week.

Best regards
Markus

[2021-09-07 11:49] Tiliavir commented on #74
Hi @sleduc82

The basic idea of digital-signature is to "sign" a contract that is contained in the plugins body. Removing this body will more or less render it useless. It is not meant to be used as a page approval.

Could you maybe elaborate your use case a bit? Maybe I can provide you better feedback knowing what you are trying to achieve.

Best regards
Markus

[2021-09-07 11:54] Tiliavir commented on #75
Hi @sleduc82

I will close this as a duplicate of https://github.com/baloise/digital-signature/issues/65#issuecomment-911553661

Please let me know if that is not correct.

Best regards
Markus

[2021-09-07 15:46] sleduc82 commented on #74
Hello Tiliavir,
Thanks for the feedback : my customer would like to only tick a box, or maybe if we could use a body template ?
Regards
Sleduc

[2021-09-08 08:20] Tiliavir commented on #75
Yes exactly, that's what helped others in #68, I hope it works for you as well.

[2021-09-08 08:30] Tiliavir commented on #74
Hi @sleduc82

We had a similar discussion in #46. I'm still not sure what your exact use case is but is it the same as or similar the the linked issue?

By body template you mean something like a set of predefined options that can be administered by super users and chosen from when adding the webpart to a page?

Best regards
Markus

[2021-09-17 15:44] sleduc82 commented on #74
Hi,
I understand what you mean "Removing this body will more or less render it useless" and the principle of a digital signature.
But I think that my customer would indeed " to be used as a page approval" or so, and would like to remove this limitation of 10 char minimum.
Would it be possible to add this possibility ?
Thank you in advance.
Regards

[2021-09-20 09:18] mcnema commented on #76
Hi Markus,

Hope all is well.

i am checking in to confirm on the release date of the new add-on to be compatible with Confluence version 7.13.0

Thanks,
Matthew

[2021-09-21 13:02] vcknapp commented on #76
Hi @Tiliavir,
My customer is also asking when the new version will be released. Please can you confirm?

Thanks,
Valerie

[2021-09-21 13:06] MarkusTiede commented on #76
Hello @mcnema & @vcknapp : we are releasing new versions as the requirements arise from our own, internal use.

I will check with @Tiliavir whether we can provide you with an update in a short term.

Would you be otherwise be willing to contribute this e.g. on your own?

[2021-09-21 13:16] MarkusTiede commented on #76
We'd be interested in merging proposed modifications in form of a PR.

[2021-09-21 13:20] vcknapp commented on #76
Hi @MarkusTiede,
Thanks for your message. I don't know what that means, sorry. I understood there was going to be a new version of the app, digital-signature. My customer needs a version that is compatible with Confluence 7.13 so I am asking on their behalf.
Thanks,
Valerie

[2021-09-21 15:24] Tiliavir commented on #76
Hi @vcknapp, @mcnema,

Please have a look on the [Atlassian Marketplace](https://marketplace.atlassian.com/apps/1217404/digital-signature?tab=overview&hosting=server). Version 7.0.3 is ready for Confluence 7.13.

Best regards
Markus

[2021-09-21 15:24] #76 closed

[2021-09-21 15:48] Tiliavir commented on #74
Hi @sleduc82

Technically it would indeed be possible. However I don't think it's a good idea since the use case this plugin addresses is another one.

In #46 we suggested the use of a couple of alternatives.

What are your thoughts @culmat , @MarkusTiede ?

Best regards
Markus

[2021-09-23 11:14] MarkusTiede commented on #76
Idea: https://github.com/baloise/open-source/issues/316

[2021-09-23 11:22] #75 closed

[2021-11-12 08:53] tosts opened #77 "NPE on Blogposts"
Upgraded Confluence Server 7.3.5 -> 7.13.2
& digital-signatures 7.0.2 -> 7.0.3

When testing to sign a macro on a _blog post_, a 500 xml error for a NullPointerException is displayed.
The macro did receive the signing, though.
Regular confluence pages do not exhibit this problem.

The instance contains additional plugins related to blog posts:
* Linchpin Enterprise News
* (maybe) News Teaser for C

[2021-11-12 09:09] tosts commented on #77
The error also occures if the macro is used in a page comment. (both on regular pages & blog posts)
And even when used in inline comments. (Use copy-paste from e.g. a comment)

Though the last one is so exotic, that it's probably not a valid use case.
Still, not throwing stack traces at users is always nice. :)

[2021-11-12 09:12] tosts commented on #77
Testing with the live system, at least the error shown when used in a page comment also exists in Confluence Server 7.3.5 with 7.0.2.
... so ... at least no regression! 😢

[2021-11-23 08:29] RegentRon opened #78 "Support Confluence version higher 7.14"
The latest version (7.0.3) does not seems to work with Confluence Data Center (7.14.1)

The macro prints only an error:
Error rendering macro 'signature'

could not execute statement; SQL [n/a]; constraint [bandana_unique_key]; nested exception is org.hibernate.exception.ConstraintViolationException: could not execute statement

[2021-11-24 09:27] MarkusTiede commented on #78
Thanks @RegentRon for reporting: @Tiliavir (could you quickly elaborate whether) we do need additional information for analyzing?

[2021-11-24 11:17] Tiliavir commented on #78
Hi @RegentRon

I've adjusted the version in the atlassian marketplace. There is a known issue with DC at the moment.
Nevertheless you can still use it, only have to clear the plugin cache after upgrading.

Compatibility for DC with an official DC release is planned in #78.

Sorry for the inconvenience
Markus

[2021-11-24 15:25] RegentRon commented on #78
Hi @Tiliavir

after clearing of the cache seems the plugin to be working. Thanks for the hint.

If I should test something special for DC please let me know.

[2021-12-02 13:14] MarkusTiede commented on #78
Thanks for offering help @RegentRon we'll get back to you!

[2021-12-10 12:41] #38 closed

[2021-12-15 09:22] MartaFernandes99 opened #80 "digital-signature stopped working"
Hi,

We've just upgraded Confluence to 7.13.3 version. We also updated you app Digital Signature to 7.0.3 version. With this changes you app stoped working correctly. When we select the button to sign returnes the error below. Can you please advise us?

[code]

[2021-12-15 17:02] Tiliavir commented on #80
Hi @MartaFernandes99

are you using Confluence Data Center by chance? If so, an official data center version is not yet available but planned with #72 however you can already use the current version with following workaround from the readme:

Best regards
Markus

[2021-12-16 09:16] MartaFernandes99 commented on #80
Hi Markus,

We are using Confluence server v7.13.3

Best regards,
Marta

De: Markus Lindenmann ***@***.***>
Enviado el: miércoles, 15 de diciembre de 2021 18:02
Para: baloise/digital-signature ***@***.***>
CC: Marta Fernandes X ***@***.***>; Mention ***@***.***>
Asunto: Re: [baloise/digital-signature] digital-signature stopped working (Issue #80)

Hi @MartaFernandes99<https://github.com/MartaFerna

[2021-12-20 10:55] jakubpochyla opened #81 "Confluence plugin safety regarding log4j (CVE-2021-44228, CVE-2021-45046 and CVE-2021-45105)"
Hello,

probably you have heard already the news about the security issue regarding the log4j library. I am referring to this article by Atlassian.
https://confluence.atlassian.com/security/multiple-products-security-advisory-log4j-vulnerable-to-remote-code-execution-cve-2021-44228-1103069934.html

According to this article, Atlassian cannot guarantee, that third party plugins are not affected by

[2021-12-21 14:41] Tiliavir commented on #81
Hi Jakub

this project is using slf4j and has therefore no direct dependency to log4j but is relying on the version provided by your confluence server which is th1 1.2.17.

For details refer to the output of `mvn dependency:tree` below - relevant line: `[INFO] |  +- log4j:log4j:jar:1.2.17:provided`.

Therefore the [official atlassian documentation](https://confluence.atlassian.com/kb/faq-for-cve-2

[2021-12-21 14:53] jakubpochyla commented on #81
Hi Markus,

thank you for the quick reply and the good news.

I wish you too relaxing holidays and Merry Christmas,
Jakub

Von: Markus Lindenmann ***@***.***>
Gesendet: Dienstag, 21. Dezember 2021 15:41
An: baloise/digital-signature ***@***.***>
Cc: Jakub Pochyla ***@***.***>; Author ***@***.***>
Betreff: Re: [baloise/digital-signature] Confluence plugin safety regarding log4j (Issue #81)

Hi Jaku

[2021-12-21 21:15] #81 closed

[2021-12-27 10:52] ziton-git opened #82 "Digital signature - class cast exception"
Hi Support

Something has happened with Digital Signature... It has stopped working across the entire platform/Confluence we have.

Behaviour is like this:

On any page add the DS-macro -> fill in what is needed and hit save -> macro will look okay, but:

1) Edit the macro again and it appears broken, or
2) Save the page and it appears broken

The error given is the same irrespective of 1 or 2:

*

[2022-01-04 10:33] wirtzs opened #83 "Can't find app in Marketplace"
We would like to install the digital signature app in Confluence, but we can't find the app in the Add ons - Installation page. If we download the app, we can't find an upload option. We can only fill out an URL, but have no idea what this URL should be.

![image](https://user-images.githubusercontent.com/97095442/148045854-fc95d636-cd55-4ced-8d60-74f9bcc65b73.png)

![image](https://user-images.gi

[2022-01-04 10:37] #83 closed

[2022-01-04 17:04] Tiliavir commented on #83
Hi @wirtzs

what kind of instance are you working on? Is it the on-prem server or data-center version, or are you working on the cloud version?

Best regards and a happy new year
Markus

[2022-01-05 10:18] wirtzs commented on #83
Hi Markus,

Thank you for your email. I already found the answer, we use a Cloud-based version, and your add-on only works on the server. We are currently deciding whether it is better to switch to our own server. In that case, we can use this add-on.

Again, thanks for your help. Also a happy new year!

Kind regards,

Sanne Wirtz

Operations supervisor

***@***.***
Present on: Monday, Tuesday and

[2022-01-06 14:39] bobbejokohler commented on #82
This is happening for our company as well.

[2022-01-10 19:58] bobbejokohler commented on #82
Do you have an update on this issue?  Need screenshots or logs?

[2022-01-11 07:41] vcknapp commented on #82
This is happening for our customer as well. Please can someone take a look?

[2022-01-11 08:05] vcknapp opened #84 "Digital signature - not working - Confluence server 7.13.2 - plugin 7.0.4"
Hello,

We have the same problem that is already reported in issue where the Signatures in the page have stopped being rendered with this error message:
![digital_signature_plugin_error](https://user-images.githubusercontent.com/90238913/148903893-293494fc-2e58-4f93-902a-3229ffd878e1.png)

Please can someone help?

Thank you,
Valerie

[2022-01-11 08:06] vcknapp commented on #82
Please @Tiliavir, can you take a look at this issue?

[2022-01-11 08:06] vcknapp commented on #84
Please @Tiliavir, can you take a look at this issue?

[2022-01-11 16:42] Tiliavir commented on #82
Hi  @vcknapp @ziton-git  @bobbejokohler

Please have a look here: https://github.com/baloise/digital-signature/issues/70#issuecomment-953871870
This is a known issue, clearing the plugin cache should be sufficient.

Best regards
Markus

[2022-01-11 16:43] Tiliavir commented on #84
Hi @vcknapp

please have a look at #82

Best regards
Markus

[2022-01-11 16:43] #84 closed

[2022-01-12 07:53] vcknapp commented on #82
Hi @Tiliavir, I just uninstalled and re-installed the plugin and the issue is persisting. Please can you help?

[2022-01-12 08:51] Tiliavir commented on #82
Hi @vcknapp did you also invalidate the plugin cache and restart confluence afterwards?

[2022-01-12 09:02] vcknapp commented on #82
Hi @Tiliavir, I don't have access to where Confluence is installed to restart it so I have advised our customer to try that.

[2022-01-12 12:18] MartaFernandes99 commented on #80
Hi Markus,

Just to check if you have any news on this matter. To refresh we are using Concluence server 7.13.3 y la version 7.0.3 del digital signature

Best regards,
MF

De: Marta Fernandes X
Enviado el: jueves, 16 de diciembre de 2021 10:16
Para: baloise/digital-signature ***@***.***>; baloise/digital-signature ***@***.***>
CC: Mention ***@***.***>
Asunto: RE: [baloise/digital-signature] digita

[2022-01-13 13:10] MarkusTiede commented on #82
Hi @vcknapp - we've just briefly discussed the issue reported (again) here; we'd kindly like to ask you to
- check the steps above (clean install of plug-in, cache invalidation and restart of confluence server) and verify that it's resolving this issue (we guess so as it has been a common and frequently occurring problem in the recent past)
- check your Confluence version: we're guessing it's the

[2022-01-13 13:33] MarkusTiede commented on #82
# feedback from todays **mob-pair programming** - @arburk @Tiliavir @svene @kullmanp :

https://community.developer.atlassian.com/t/confluence-dc-throws-classcastexception-when-getting-object-from-bandana-after-app-upgrade/31894/4

[...] So the solution we frequently use is to add a event listener, that listens for the PluginEnabledEvent and clears our caches. [...]

# Ideas worth a try
- register

[2022-01-18 10:36] billikill opened #85 "Digital Signature not work"
Hello, after update confluence to version 7.13.3, plugin verssion 7.0.4 don`t work.
When the user clicks on the button "Sign as ..", the signature is not put.
![image](https://user-images.githubusercontent.com/33964260/149921191-f7fddd1d-c9f9-4a15-a30f-bf77766c806b.png)

[2022-01-18 10:38] billikill commented on #85
No errors in the log

[2022-01-22 13:19] Tiliavir commented on #85
Hi @billikill

Do you see errors in the widget or in the browser console?

Markus

[2022-01-24 17:39] billikill commented on #85
Hi @Tiliavir
I got what is the problem.  If there are 2 macros into one page then macros doesn't work. Thanks for your support.

[2022-01-24 17:39] #85 closed

[2022-01-27 14:20] oberfeld-finstreet opened #86 "Error running 'signature'"
Hi, i got the following error, after update the plugin. Nothing else changed.

`class com.baloise.confluence.digitalsignature.Signature cannot be cast to class com.baloise.confluence.digitalsignature.Signature (com.baloise.confluence.digitalsignature.Signature is in unnamed module of loader org.apache.felix.framework.BundleWiringImpl$BundleClassLoader @72b5bbb1; com.baloise.confluence.digitalsigna

[2022-01-27 18:39] Tiliavir commented on #86
Hi @oberfeld-finstreet

We are currently working on a fix for that issue in #82.
For now the only workaround fornthelat issue is, to reset the plugin cache and restart confluence.

I'm sorry for the inconvenience
Markus

[2022-02-04 12:47] Mattymcn95 opened #87 "Digital Signature Enquiry"
Hi All,

We currently use Digital Signature version 7.0.4 as part of our Confluence Server Instance.

From test page of the images below are we able to configure the add-on to move the Sign as (your username) button to the top of the page rather than the bottom?

Thanks,
Matthew

<img width="720" alt="signature one" src="https://user-images.githubusercontent.com/26100308/152531481-eeb9235e-8d02-4f

[2022-02-05 13:06] Tiliavir commented on #82
Besides other posts regarding this issue in the "Atlassian Developer Community" [this one](https://community.developer.atlassian.com/t/cache-in-data-center-throws-classcastexception-when-casting-to-the-same-class/3232/4) summarizes it quite well:

and further

Following that, I've added a PR that should address this issue in a self healing way. Meaning: The issue might occur again after an environ

[2022-02-05 13:11] #86 closed

[2022-02-05 13:13] #74 closed

[2022-02-05 13:22] Tiliavir commented on #87
Hi @Mattymcn95

this feature request was previously discussed in #26 and at that time rejected, to keep the configuration as easy as possible. However, #26 was addressed by providing a way to collapse the signee list to a "limit of visible signees" to handle such long lists:

![image](https://user-images.githubusercontent.com/8123039/152643876-6aa1285d-6b19-4ff3-852e-60196b20f2a5.png)

Please let

[2022-02-10 12:23] MarkusTiede commented on #82
https://github.com/baloise/digital-signature/pull/88

[2022-02-10 12:50] Tiliavir commented on #80
Hi @MartaFernandes99

I'm sorry for the late response - I cleaned up the thread a bit for legibility, hope thats OK. If not please feel free to adjust accordingly ;-)

On the issue:
Is that happening on all issues or only on some specific macros on special pages?
I think this might be a duplicate of https://github.com/baloise/digital-signature/issues/77, is that possible?

Best regards
Markus

[2022-02-12 09:13] zbalkan opened #89 "Testing for cloud"
I have just started evaluating this solution on out server instance. It worked flawlessly yet we are migrating to the cloud very soon.

Since I have no data that would be affected by the backwards compatibility, I can test the alpha/beta versions in my cloud environment.

What can I do to help?

[2022-02-22 13:18] judithmerkel opened #90 "Minutes in timestamp of signature are wrong"
Hi!
we've noticed that the displayed minutes for each signature in our system are not correct. For every signature there is the correct hour but for the minutes it's everytime just ":09". Is there any way to fix this?
We are currently using Confluence Server in Version 7.3.3 - if this has any impact
![digisignature](https://user-images.githubusercontent.com/100208411/155140122-bc73b3a1-edef-4996-9

[2022-02-23 06:08] Tiliavir commented on #90
Hi @judithmerkel

Thank you very much for reporting this behaviour - I will try to reproduce that.

Best regards
Markus

[2022-03-10 09:23] culmat commented on #90
The macro sets the signature time to the system time from the java virtual machine, see

https://github.com/baloise/digital-signature/blob/a8e98859b920ef033a0ef4a175c8fa145d756f81/src/main/java/com/baloise/confluence/digitalsignature/Signature.java#L178

For formatting, https://docs.atlassian.com/ConfluenceServer/javadoc/7.16.2/com/atlassian/confluence/core/ConfluenceActionSupport.html#getDateForm

[2022-03-10 12:10] MarkusTiede commented on #90
@judithmerkel could you check whether the information provided by @culmat is helping with resolving your issue?

[2022-04-25 08:27] #90 closed

[2022-04-25 08:31] #87 closed

[2022-04-27 06:00] arburk commented on #82
Deeper investigations on that issue have shown a strange behaviour with Bandana Manager when upgrading the plugin. As soon as the plugin is updated, former created key-value pairs in Bandana Manager are still present by their key but corresponding values are null. This can be reproduced by following steps:
- install plugin v7.0.4
- create content and sign with digital signature
- Bandana Manager c

[2022-05-04 11:14] Tommygitas opened #92 "Community License"
Hello dear Github Team,

we have a customer who is currently your product as a community license in the server version. Now they are changing to the Data Center version, but your product isn't available there.

Is there any plans in the pipeline to bring a DC version?

Are there any alternatives to your product?

Thank you very much in advance.

Best regards
Chrysostomos Gitas

[2022-05-05 11:23] MarkusTiede commented on #82
Maybe filing a bug directly @Atlassian (developer board) - maybe more people and project (as above mentioned) are affected by this.

[2022-05-05 11:32] Tiliavir commented on #92
Hi @Tommygitas

we are currently working on this in https://github.com/baloise/digital-signature/issues/72 - unfortunately this is waiting for https://github.com/baloise/digital-signature/issues/82 at the moment. If that is fixed we will push the DC ready version and update the issue accordingly.

Best regards
Markus

[2022-05-05 11:32] #92 closed

[2022-05-05 11:33] Tiliavir commented on #80
Closed due to inactivity.

[2022-05-05 11:33] #80 closed

[2022-05-05 11:35] #78 closed

[2022-05-05 11:50] Tiliavir commented on #89
In https://github.com/baloise/digital-signature/issues/78 @RegentRon offered help in testing the DC version.

Currently DC and Cloud versions are waiting for a fix in https://github.com/baloise/digital-signature/issues/82. As soon as we have a breakthrough there, I will happily come back to the two of you :-)

[2022-05-19 11:57] Mattymcn95 opened #93 "Digital Signature Data Center question"
Hi All,

As per image below we are currently widely using your add-on on our Jira Server instance on the latest version.

<img width="575" alt="digitial signature add-on" src="https://user-images.githubusercontent.com/26100308/169287090-8f488fa9-369e-407c-8cb8-9cd67950f725.png">

we are currently using your product in the server version of Confluence. Now we are planning to changing to the Data Ce

[2022-05-24 19:13] Tiliavir commented on #93
Hi @Mattymcn95

please refer to https://github.com/baloise/digital-signature/issues/72 for details.
I'm closing this one as duplicate.

Best regards
Markus

[2022-05-24 19:13] #93 closed

[2022-05-30 08:01] Maledives opened #95 "Issue after anonymization"
Hi all,
after applying the workaround from this page (https://jira.atlassian.com/browse/CONFSERVER-78711 ), the Digital Signature add-on still contains the old name of the User and a long string of numbers.
Currently we have the situation that everything works so far except for the Digital Signature add-on.
![image](https://user-images.githubusercontent.com/106514879/170945625-26503622-7977-46f0-b

[2022-06-01 13:16] Maledives commented on #95
Hello all,
is there an initial estimation of the error here?

Thanks,
Arif

[2022-06-05 20:33] Tiliavir commented on #95
Hi @Maledives

this project is Open Source and maintained by the Open Source community.
If you have a suggestion how to improve this plugin feel free to provide a PR or other helpful input for this community driven software.

Thank you very much for your feature request and best regards
Markus

[2022-06-06 06:55] #33 closed

[2022-06-06 06:59] Tiliavir commented on #1
@culmat how about a fallback approach to maintain backward compatibility?
i.e. try to read with macro-id - if nothing is found, fallback to null?

[2022-06-06 07:00] #55 closed

[2022-06-06 07:00] Tiliavir commented on #55
closed due to missing feedback.

[2022-06-21 09:48] arwavis opened #96 "Plugin availability for higher version of confluence"
Hi Team,

We recently upgraded our confluence to version 7.17.4 from 7.13.2 and we see that this plugin "digital-signature" is not available for the latest version of confluence, Is there any plans to release this plugin for the latest version of confluence.

We are still running Confluence Server Version.

Regards
Aravind Viswanathan.

[2022-06-27 05:59] arwavis commented on #96
Hi Team,

Could you please provide us an update?

Regards
Aravind Viswanathan.

[2022-06-27 14:52] culmat opened #97 "Use user key instead of user name to identify users"
The current implementation uses https://docs.atlassian.com/atlassian-user/2.0/apidocs/com/atlassian/user/Entity.html#getName()
We should use https://docs.atlassian.com/ConfluenceServer/javadoc/6.15.6/com/atlassian/confluence/user/ConfluenceUser.html#getKey-- instead for the following reasons

- only the id is stable, i.e. when changing login infrastructure user name can change
- com.atlassian.sal.

[2022-06-27 14:55] culmat commented on #71
AFAIS this should be fixed by #97

[2022-06-29 04:12] arwavis commented on #96
Hi Team,

Could you please provide us an update?

Regards
Aravind Viswanathan.

[2022-06-29 06:25] culmat commented on #96
Hi @arwavis , we have released the current plugin version for the confluence server up until 7.18.2.
Best regards,
Matthias

[2022-06-29 06:25] #96 closed

[2022-06-30 13:34] arwavis commented on #96
Awesome, Thanks

All looks good.

[2022-08-08 05:40] muthanna-EFI opened #98 "Digital Signature plugin for Confluence server not compatible"
Hi team,
We are planning an upgrade for our Confluence server to latest long term support version 7.19.0 and noticed that the plugin is not compatible with thsi version of the confluence server. Will there be a new update version of plugin available for confluence server v7.19.0  soon?

[2022-08-12 14:01] #98 closed

[2022-09-06 17:05] gemmagilmore commented on #72
Hi there, just looking for some kind of follow up on the original issue raised over a year ago as I have exactly the same problem.  Issue #59 suggests that there isn't a problem.  Is that indeed the case, or do all others mentioned in this thread supersede that?... There is nothing from any of them that suggests a fix is imminent, meaning we (the company) will need to look for an alternative.

[2022-10-11 07:04] Tommygitas commented on #92
Hello Markus,

thanks for your feedback.

Are there any news regarding the 2 issues?

Best regards
Tommy

[cid:signatur_4_logo_170x120px_66082ac2-21b1-4a1f-8e06-8916f082968e.png]<https://www.actonic.de/>
Chrysostomos Gitas
Sales Manager
Tel.: +49 (0) 151 / 42084409
Fax: +49 7042 / 971 497 5

Discover our products on actonic.de<https://www.actonic.de/en/products>
Actonic GmbH, An der Schelmenhalde